@font-face {
    font-family: PTSans;
    src: url("../src/fonts/PTSans-Bold.ttf") format('truetype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: PTSans;
    src: url("../src/fonts/PTSans-Regular.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: PTSans;
    src: url("../src/fonts/PTSans-Bold.ttf") format('truetype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: MicraDi;
    src: url("../src/fonts/MicraDi-Regular.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    background-color: #000000;
    overflow: hidden;

    font-family: MicraDi, Arial, sans-serif;
    color: #ffffff;
    /**/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

#loadingStatusDiv {
    font-size: 16px;
    color: #777777;
}

#startButton {
    padding: 6px 24px 12px;
    font-size: 26px;
    font-family: MicraDi, Arial, sans-serif;
    text-align: center;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 24px;
    background-color: #222222;
    cursor: pointer;
    transition: transform 0.6s ease, filter 0.6s ease, color 0.6s ease, border-color 0.6s ease;
}
#startButton:hover {
    filter: drop-shadow(0px 3px 6px #0000ff);
    color: #7e7eff;
    border-color: #7e7eff;
    transform: translateY(-2px);
}